<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShokuTan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2B79BF31BD239E5004E3654</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2B79C071BD239E5004E3654</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2B79C121BD239E5004E3654</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
